
		<!-- Start Product Section -->
		<br>
		<div class="product-section" style="background-color: beige;">
			<div class="container">
                <div class="heading">
                    <h1>Furniture Items</h1>
                </div>
				<div class="row">

					<!-- Start Column 1 -->
					<div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0" *ngFor="let f of furnitureCategory">
						<a class="product-item" (click)="sendData(f.categoryID)" routerLink="/shop">
							<img src={{f.imagename}} class="img-fluid product-thumbnail">
							<h3 class="product-title">{{f.categoryname}}</h3>
							
						</a>
					</div>
                    
                    <!-- End Column 1 -->
				</div>
			</div>
		</div>
		<br>
		<!-- End Product Section -->
