

<div style="background-color: beige;" class="hero container-fluid">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="intro-excerpt">
                    <h1 style="font-family:Georgia, 'Times New Roman', Times, serif; font-style: oblique;font-size: 225%;">Where Style Meets Comfort Every Piece Tells a Story.</h1>
                    <p class="mb-4" style="font-size: medium; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-style: oblique;">"Designing Dreams, Delivering Elegance—Welcome to Your Inspired Home.Where Style Meets Substance, and Every Detail Tells a Tale of Refinement."</p>
                    <p><a href="" class="btn btn-primary me-2" style="outline-color: beige;background-color: burlywood;font-family: Verdana, Geneva, Tahoma, sans-serif;">Shop Now</a><a href="#" class="btn btn-primary" style="outline-color: beige;background-color: burlywood;font-family: Verdana, Geneva, Tahoma, sans-serif;">Explore</a></p>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="hero-img-wrap">
                    <img src="assets\image\couch.png" class="img-fluid" style="width: 100%;">
                </div>
            </div>
        </div>
    </div>
</div>


		<!-- Start Product Section -->
		<div class="product-section">
			<div class="container">
				<div class="row">

					<!-- Start Column 1 -->
					<div class="col-md-12 col-lg-3 mb-5 mb-lg-0">
						<h3 class="mb-4 section-title" style="font-family: initial;font-size: x-large;font-style: oblique;">Crafted With Excellent Material.</h3>
						<p class="mb-4" style="font-size: medium; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-style: oblique;">Indulge in quality and style—every product on our website is meticulously crafted with excellent materials, promising enduring beauty and comfort.</p>
						<p><a href="shop.html" class="btn btn-primary" style="outline-color: black;background-color: beige;-webkit-text-fill-color:black;font-family: Verdana, Geneva, Tahoma, sans-serif;">Explore</a></p>
					</div> 
					<!-- End Column 1 -->

					<!-- Start Column 2 -->
					<div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0" style="background-color: beige;" *ngFor="let item of Randomdata">
						<a class="product-item" >
							<img [src]="item.image" class="img-fluid product-thumbnail" (click)="sendproductId(item.productId)">
							<h3 class="product-title" style="font-family: initial;font-size: x-large;font-style: oblique;">{{item.productname}}</h3>
							<strong class="product-price">Rs.{{item.price}}</strong>
							<span class="icon-cross">
								<img src="assets/image/cross.svg" class="img-fluid"(click)="AddtoCart(item.productId)">
							</span>
						</a>
					</div> 
					<!-- End Column 2 -->

			</div>
		</div>
		<!-- End Product Section -->

        <!-- Start Why Choose Us Section -->
		<div class="why-choose-section" style="background-color: beige;">
			<div class="container">
				<div class="row justify-content-between">
					<div class="col-lg-6">
						<h1 class="section-title" style="font-family: initial;font-size: x-large;font-style: oblique;">Why Choose Us</h1>
						<p style="font-size: medium; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-style: oblique;">Transform your space with exclusive furniture and decor items from our website. Enjoy personalized suggestions, unbeatable deals, and a shopping experience tailored just for you. Elevate your home with us!</p>

						<div class="row my-5">
							<div class="col-6 col-md-6">
								<div class="feature">
									<div class="icon">
										<img src="assets/image/truck.svg" alt="Image" class="imf-fluid">
									</div>
									<h3 style="font-family: initial;font-size: larger;font-style: oblique;">Fast &amp; Free Shipping</h3>
									<p style="font-size: medium; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-style: oblique;">Discover exclusive furniture and decor on our site with swift, 
										free shipping—elevating your space seamlessly and conveniently. Unwrap style at your doorstep!
									</p>
								</div>
							</div>

							<div class="col-6 col-md-6">
								<div class="feature">
									<div class="icon">
										<img src="assets\image\bag.svg" alt="Image" class="imf-fluid">
									</div>
									<h3 style="font-family: initial;font-size: larger;font-style: oblique;">Easy to Shop</h3>
									<p style="font-size: medium; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-style: oblique;">Elevate your home effortlessly on our heartwarming website—explore, choose, and adorn with ease, turning every moment into a delightful experience.</p>
								</div>
							</div>

							<div class="col-6 col-md-6">
								<div class="feature">
									<div class="icon">
										<img src="assets\image\support.svg" alt="Image" class="imf-fluid">
									</div>
									<h3 style="font-family: initial;font-size: larger;font-style: oblique;">24/7 Support</h3>
									<p style="font-size: medium; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-style: oblique;">Navigate your home decor journey with confidence and comfort, supported by our round-the-clock assistance for a seamless experience.</p>
								</div>
							</div>

							<div class="col-6 col-md-6">
								<div class="feature">
									<div class="icon">
										<img src="assets\image\return.svg" alt="Image" class="imf-fluid">
									</div>
									<h3 style="font-family: initial;font-size: larger;font-style: oblique;">Hassle Free Returns</h3>
									<p style="font-size: medium; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-style: oblique;">Shop confidently with our hassle-free returns, ensuring your complete satisfaction as you curate the perfect look for your home.</p>
								</div>
							</div>

						</div>
					</div>

					<div class="col-lg-5">
						<div class="img-wrap">
							<img src="assets\image\rugs_usa-image-1631754557701-1228x1536.jpeg" alt="Image" class="img-fluid">
						</div>
					</div>

				</div>
			</div>
		</div>
		<br>
		
		<!-- End Why Choose Us Section -->

        <!-- Start Testimonial Slider -->
       

