<br><br>
<div class="col-lg-5" style="height: 20%;width: 80%;align-items: center;margin-left: 160px;">


<div>
  <div class="why-choose-section" style="background-color: beige;">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-lg-6">
          <br><br><h1 class="section-title" style="font-family: initial;font-size: xx-large;font-style: oblique;font-size: xx-large; text-align: center;">About Us</h1><hr><br>
          <p style="font-size: large;height: max-content; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-style: oblique;">
            Welcome to 'Decor My Way'—where passion meets design and elegance finds a timeless home.
            Our curated collection of premium furniture and decor is crafted with meticulous care, reflecting 
            enduring quality and style.<br><br><br>

            At 'Decor My Way,' we're on a mission to simplify your home decor journey. We go beyond trends,
            offering pieces that seamlessly blend aesthetics with comfort, creating spaces that resonate with 
            individuality.<br><br><br>
            
            We believe in crafting not just rooms but narratives. Each carefully selected item in our collection 
            is a celebration of artistry and dedication to excellence. Join us in transforming your living spaces 
            into a reflection of your unique style.<br><br><br>
            
            'Decor My Way' is more than a brand; it's a philosophy rooted in the belief that style should be 
            timeless. Let us be your trusted partner in creating exceptional spaces that inspire, impress, and 
            stand the test of time. Welcome to a world where your space becomes a canvas, and design is an 
            expression of you.</p>

           

          </div>

          <div class="col-lg-5">
						<div class="img-wrap">
							<img src="assets\image\deer.jpg" alt="Image" class="img-fluid">
						</div>
					</div>
        </div>
      </div>
    </div>
  </div>
<br><br>